.CardsSection {
  min-height: 350px;
  width: 85%;
  background-color: white;
  position: relative;

  .Image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    // position: absolute;
    z-index: 0;
  }

  .Overlay {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;
    width: 100%;
    height: 60px;
    bottom: 0px;
    // background-color: red;
    .Info {
      width: 100%;
      height: 100%;
      // background-color: blue;
      position: relative;

      .Name {
        height: 100%;
        // background-color: green;
        color: white;
        position: absolute;
        margin: 0px;
        text-align: center;
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
}
