.Footer {
  width: 100%;
  // background-color: blue;
  background-color: white;
  min-height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .IconContainer {
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    // border: 1px solid gray;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.1);
  }
}
