.Recs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f0f2f4;

  .CardsSection {
    height: 37.5rem;
    width: 22.5rem;
    border-radius: 0.5rem;
    background-color: black;
    margin-top: 2.25rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    .Card {
      height: 100%;
      width: 100%;
      position: relative;
      .CardMain {
        height: 100%;
        width: 100%;
        position: relative;

        .Image {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .CardOverlay {
        position: absolute;
        //Change the 6.375rem to the height of the CardFooter using a variable (change***)
        bottom: 6.375rem;
        left: 0rem;
        z-index: 20000;
        height: calc(100% - 6.375rem);
        width: 100%;
        // background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .SlideTicks {
          height: 0.75rem;
          width: 100%;
          background-color: red;
        }

        .ArrowBox {
          flex: 1;
          width: 100%;
        }

        .ArrowBox:hover {
          cursor: pointer;
        }

        .InfoBox {
          // height: 3rem;
          width: 100%;
          // background-color: blue;
          // border: 1px solid black;
          padding: 1.25rem;
          display: flex;
          flex-direction: row;
          box-sizing: border-box;
          font-family: "Montserrat", sans-serif;

          .MainInfoBox {
            flex: 1;
            display: flex;
            flex-direction: column;

            .NameAndAge {
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              color: white;

              .Name {
                font-size: 1.75rem;
                font-weight: 600;
                line-height: 1.75rem;
              }

              .Age {
                margin-left: 1rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.5rem;
              }
            }
          }

          .InfoButtonContainer {
            width: 1.75rem;
            color: white;
            flex-direction: column;
            justify-content: flex-end;

            .InfoButton {
              font-size: 1.75rem;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .OverlayBlur {
          content: "";
          // position: absolute;
          // bottom: 0;
          // left: 0;
          width: 100%;
          height: 5%;
          background: linear-gradient(
            to top,
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 0) 100%
          );
          pointer-events: none;
        }
      }
    }
    .CardFooter {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6.375rem;
      background-color: black;
      z-index: 2000;
    }
  }
}
